/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    outline: none;
    border: none;
}

html {
    scroll-behavior: smooth;
}
:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --third-bg-color: #ededed;
}
/* =============main body========================== */
.mainbody {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #120909, #1b1e50);
}
/*   ============   all section================ */
section {
    margin: 15px;
    padding: 25px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 10px 5px 5px #72a2da;
    display: none;
}
/* =============section titles=========== */
.title {
    color: #007BFF;
    font-style: italic;
    font-size: 25px;
}
.section-1{
    background-color:#18262f ;
}
.section-3{
    background-color:#112e42 ;
    color: white; 

}
.section-5{
    background-color:#112e42 ;
    color: white;   
}
.section-6{
    background-color:#112e42 ;
    color: white; 

}
.education{
    background-color:#112e42 ;
    color: white; 

}
/* =====================navigation bar============================= */
header{
    padding: 10px 0;
  
}
nav{
    color: black;
    background-color: skyblue;
}
nav a {
    color: white;
    font-size: 1.7rem;
    font-weight: 500;
    font-style: italic;
}

nav a:hover {
    background-color:white ;
    border-radius: 7px;
    padding: 4px;
}
/* =================HOME========================= */
.whos{
    display: flex;
    justify-content: center;
    font-style: italic;
    color: skyblue;
    font-weight: bolder;
}
.res{
    color: black;
}
.resume {
    font-size: 40px;
    font-style: italic;
    color: white
}
#words{
color: #007BFF;
}
.About{
    text-align: center;
    font-style: italic;
    margin-top: 15px;
    color:white;
    font-weight: bolder;
}
.me{
    color: #0da1d7;
}
.im{
    color: white;
}
.aboutme {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background: linear-gradient(45deg, #221e1e, #3498db);
    line-height: 2.3em; 
    box-shadow: 8px 8px 2px 2px rgba(23, 23, 152, 0.2);
    border-radius: 30px;
}
.about p {
    margin: 0; 
}
.who{
    text-align: center;
    color: black;
}

/* ===========my photo=============== */
.my-image {
    height: 400px;
    width: 75%;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}
/*=============================button==================== */
button {
    background: var(--min-color);
    padding: 10px 20px;
    background-color: #032e3d;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: box-shadow 0.1s ease;
}

button:hover {
    box-shadow: 0 0 20px rgba(5, 17, 69, 0.7);
}
/* ===========skills and EDUCATION ===============================*/
.accordion-content {
    display: none;
}

.accordion.active .accordion-content {
    display: block;
}

.far {
    color: #200505;
    background-color: #007BFF;
}

.accordion-heading {
    cursor: pointer;
    color: white;
    padding: 5px;
    border: 4px solid #111121;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: #162236;
    font-size: 1px;
    font-style: italic;
}

.accordion-content p {
    margin-top: 0;
}
.teams .accordion-container .accordion.active,
.services .accordion-container .accordion.active,
.education .accordion-container .accordion.active {
    color: white;
    background: linear-gradient(45deg, #221e1e, #3498db);
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 10px 10px 10px rgba(51, 75, 92, 0.5);
}
.education-info {
    display: flex;
    justify-content: space-between;
}

.education-info .left {
    width: 50%; 
}

.education-info .right {
    width: 50%; 
    text-align: right;
}
.degree {
    font-weight: bold;
    margin-bottom: 5px;
}
.institute {
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.duration, .grade {
    margin-bottom: 5px;
    margin-right: 20px;
}
/* ==========================footer===================================== */
img {
    transition: border-radius 0.5s ease;
} 
 img:hover {
    border-color: black;
    border-radius: 70%;
}
footer {
    background-color: #120d1a;
    color: #fff;
}
.copy {
    text-align: center;
}
.follow{
    font-style: italic;
     color: blue;

}
/*===================================== MESSAGE BOX =================================*/
.myForm {
    width: fit-content;
}

.container {
    background-color: #0e0f0f;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(4, 14, 60, 0.7);
    padding: 25px;
}

.container input {
    border-radius: 10px;
    font-style: italic;
    color: #200505;
    border: 4px solid #007BFF;
    border-style: grooves;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}
.container input:hover{
    box-shadow: 0px 0px 17px rgba(14, 221, 31, 0.7);

}

.container textarea {
    border-radius: 10px;
    font-style: italic;
    border: 4px solid  #007BFF;
    border-style: grooves;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}
.container textarea :hover{
    box-shadow: 0 50px 40px rgba(142, 225, 10, 0.7);

}

#submit{
    font-style: italic;
    font-size: 16PX;
    padding: 10px 20px;
    background: var(--min-color);
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: box-shadow 0.1s ease;
}
#submit:hover{
    border: black solid;
    box-shadow: 0 0 20px rgba(14, 50, 212, 0.7);

}
    .thank-you-message {
      display: none;
      color: green;
      font-size: 1.5em;
    }
/* ==========================top scroll button */
#myBtn {
    display: block;
    position: fixed;    
    bottom: 10px;
    right: 10px;
    z-index: 99;
    font-size: 10px;
    background-color: rgb(30, 62, 156);
    color: white;   
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
  }
  
  #myBtn:hover {
    background-color: #0dabb9;
  }
/*==================================== media==============================================  */
@media only screen and (max-width: 600px) {

    header .navbar-brand {
        padding-left: 1rem;
    }

    .section-1 .row .col-md-3 .panel {
        position: initial;
        width: initial;
        height: initial;
    }
}

@media only screen and (max-width: 400px) {
    footer .row .col-md-6 {
        margin-top: 8vmin;
    }

}  

