/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    outline: none;
    border: none;
}

html {
    scroll-behavior: smooth;
}

/* =============main body========================== */
.mainbody {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #ffffff, #3498db);
    /* background-color:black; */
}

/* =====================navigation bar============================= */
nav a {
    color: #050124;
    font-size: 15px;
}

nav a:hover {
    background-color: skyblue;
    border-radius: 7px;
    padding: 7px;
}

header {
    padding: 10px 0;
}

/* =================HOME========================= */
.resume {
    font-size: 40px;
    font-style: italic;
    color: rgba(19, 205, 196, 0.848);
}

.Aboutme {
    font-style: italic;
    margin-top: 15px;
    color: #007BFF;
    font-weight: bolder;
}

/* ========================== */
.image-container {
    height: "400px";
    width: "75%";
    overflow: hidden;
}

img {
    height: "400px";
    width: "75%";
    transition: border-radius 0.5s ease;
}

img:hover {
    border-radius: 70%;
}

.myname {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #007BFF;
    overflow: hidden;
    white-space: nowrap;
    animation: nameAnimation 4s infinite;
}

@keyframes nameAnimation {

    0%,
    100% {
        width: 0;
    }

    50% {
        width: 100%;
    }
}

.about {
    background-color: #a2a3ac;
    box-shadow: 12px 12px 2px 2px rgba(23, 23, 152, 0.2);
    border-radius: 40px;
}

/* =======================all section =========================== */
section {
    margin: 15px;
    padding: 25px;
    background-color: #fff;
    border-radius: 20px;
    /* box-shadow: 10px 10px 10px rgba(153, 8, 8, 0.1); */
    box-shadow: 10px 5px 5px #007BFF;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    display: none;
}

/* =============sction titles=========== */
.title {
    color: #007BFF;
    font-style: italic;
}

/*=============================button==================== */
button {
    padding: 10px 20px;
    background-color: #4c60af;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: box-shadow 0.1s ease;
}

button:hover {
    box-shadow: 0 0 20px rgba(14, 55, 238, 0.7);
}

/* ============================container-2 and 3===============*/
.container-2,
.container-3 {
    background-color: white;
    border-radius: 20px;
}

/*=================== skills====================== */
.col-md-4 {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.skill {
    background-color: #200505;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.java,
.html1,
.css,
.mysql,
.javascript,
.jdbc {
    background-color: #a2a3ac;
    box-shadow: 12px 12px 2px 2px rgba(5, 5, 7, 0.2);
    box-sizing: border-box;
}

/* ===========EDUCATION ===============================*/
.accordion-content {
    display: none;
}

.accordion.active .accordion-content {
    display: block;
}

.far {
    color: #200505;
    background-color: #007BFF;
}

.accordion-heading {
    cursor: pointer;
    color: #007BFF;
    padding: 5px;
    border: 4px solid #111121;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: #94cbdd;
    font-size: 1px;
    font-style: italic;
}

.accordion-content p {
    margin-top: 0;
}

.teams .accordion-container .accordion.active,
.services .accordion-container .accordion.active,
.education .accordion-container .accordion.active {
    background: linear-gradient(45deg, #ffffff, #3498db);
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 10px 10px 10px rgba(51, 75, 92, 0.5);
}

/* ==========================footer===================================== */
footer {
    background-color: #333;
    color: #fff;
}

footer a :hover {
    box-shadow: 0 0 20px white;
}

.copy {
    text-align: center;
}

/*===================================== MESSAGE BOX =================================*/
.myForm {
    width: fit-content;
}

.container {
    background-color: #333;
    border-radius: 20px;
}

.container input {
    border-radius: 10px;
    font-style: italic;
    color: #200505;
}

.btn btn-primary {
    font-size: 16PX;
    padding: 10px 20px;
    background-color: #4c60af;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.1s ease;
}

button:hover {
    box-shadow: 0 0 20px rgba(14, 55, 238, 0.7);
}

.form-control textarea {
    resize: none;
}

/*==================================== media==============================================  */
@media only screen and (max-width: 600px) {

    header .navbar-brand {
        padding-left: 1rem;
    }

    .section-1 .row .col-md-3 .panel {
        position: initial;
        width: initial;
        height: initial;
    }
}

@media only screen and (max-width: 400px) {
    footer .row .col-md-6 {
        margin-top: 8vmin;
    }

}